@import "wordpress";
@import "overrides";
@import "foundation";


// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/* Test */
// .row {
//   background: #ccc;
// }

/* Fixes */
a {
  outline: none;
}

/* Utility Classes */
.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  color: #1f3779;
  font-family: 'Prata', sans-serif;
}

/* Custom Shortcodes */
.quote-box {
  padding: 40px 50px 40px 70px;
  background: url(../images/quote-box-border.jpg), url(../images/quote-box-border.jpg), url(../images/quote-mark-stroke.png);
  background-repeat: no-repeat;
  background-position: center top, center bottom, left 47px;
  color: #27335e;
  font-family: Prata;
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.content-box1 {
  color: #967f4c;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  padding: 60px 75px;
  margin-bottom: 40px;
  margin-top: 40px;
  background:
    url(../images/gold-border-horizontal.jpg),
    url(../images/gold-border-horizontal.jpg),
    url(../images/gold-border-vertical.jpg),
    url(../images/gold-border-vertical.jpg);
  background-position: left top, left bottom, left top, right top;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
}

.content-box2 {
  color: #666;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  padding: 40px 55px;
  margin-bottom: 40px;
  margin-top: 40px;
  background: url(../images/side-panel-bg.png) repeat #eee;
  border: 1px dashed #c2c7d5;
}

/* Forms */
// style input placeholders
::-webkit-input-placeholder {
  color: #8b8b8b;
  opacity: 1;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
}

:-moz-placeholder { /* Firefox 18- */
  color: #8b8b8b;
  opacity: 1;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #8b8b8b;
  opacity: 1;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
}

:-ms-input-placeholder {
  color: #8b8b8b;
  opacity: 1;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
}

input[type="text"], input[type="password"], input[type="date"],
input[type="datetime"], input[type="datetime-local"],
input[type="month"], input[type="week"], input[type="email"],
input[type="number"], input[type="search"], input[type="tel"],
input[type="time"], input[type="url"], input[type="color"], textarea {
  border: 1px solid #c1c6d5;
  border-radius: 5px;
  box-shadow: none;
  padding: 5px 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 10px;
}

/* Top Bar */
// Make top bar transparent
.top-bar.expanded .title-area, .contain-to-grid, .top-bar, .top-bar-section ul, .top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section .dropdown li a, .top-bar-section .dropdown li:not(.has-form) a:not(.button), .top-bar-section li:not(.has-form) a:not(.button):hover {
  background: transparent;
}

#main-nav {
  position: relative;
  z-index: 1000;
  .company-logo {
    display: block;
    width: 293px;
    height: 108px;
  }
  .topbar-contact {
    color: #1c2b5a;
    font-family: 'Prata', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 1px;
  }
}

.contain-to-grid {
  z-index: 1000;
  height: 85px;
  border-bottom: 1px solid rgba(28, 48, 101, 0.27);
  border-color: rgba(28, 48, 101, 0.27) !important;
  margin-bottom: 1px;
  .top-bar {
    margin-top: 15px;
    padding: 0 10px;
  }
}

.top-bar-section ul li {
  & > a {
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 28px;
    text-transform: lowercase;
  }
}

.top-bar-section {
  .left {
    padding-top: 35px;
    position: absolute;
    right: 250px;
    li {
      background: url(../images/menu-item-border.png) no-repeat right top;
      padding: 0 10px;
      &:last-child {
        background: none;
      }
      & > a {
        padding: 0 0 31px !important;
        &:hover {
          padding-bottom: 30px !important;
          border-bottom: 1px solid #d09d31;
        }
      }
    }
  }
  .right {
    padding-top: 28px;
    padding-right: 30px;
  }
}
// topbar divider
.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
  border-left: 1px solid #606573;
  margin-top: 7px;
  margin-right: 30px;
}

.content-wrapper {
  padding: 0 115px;
}

.button {
  background-color: #d9b569;
  border-radius: 27px;
  color: #383e50;
  font-family: 'Lato', sans-serif;
  font-size: 19px;
  font-weight: 900;
  line-height: 19px;
  text-transform: uppercase;
  padding: 19px 25px 16px;
  &:hover {
    background-color: #203879;
    color: white;
  }
}

.banner {
  text-align: center;
  color: #666;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 80px 0 100px;

  h1 {
    color: #27335e;
    font-family: 'Prata', sans-serif;
    font-size: 39px;
    font-weight: 400;
    line-height: 52px;
  }
  .divider {
    width: 97px;
    height: 2px;
    background-color: #d9b569;
    margin: 17px auto 0;
  }
  p {
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
  }
}

/* Homepage */
// use genesis-generated template class as main css container
body.page-template-page-home {

  .hero {
    z-index: 1;
    margin-top: -103px;
    background: url(../images/home-hero-bg.jpg) no-repeat center top;
    background-size: cover;

    .hero-content {
      margin-top: 160px;
      max-width: 590px;
      h1 {
        color: #203879;
        font-family: 'Prata', sans-serif;
        font-size: 59px;
        font-weight: 400;
        line-height: 59px;
        margin-bottom: 24px;
      }
      p {
        font-family: 'Lato', sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 36px;
        color: #666;
      }
    }
  }

  .roles {
    margin-top: 130px;
    background: url(../images/roles-bg.png) repeat center top;
    padding: 50px 0 60px;
    h1 {
      color: white;
      font-family: 'Prata', sans-serif;
      font-size: 27px;
      font-weight: 400;
      line-height: 28px;
    }
    .grid {
      margin-top: 35px;

      // do not clear 6th block grid element due to hidden role
      &.large-block-grid-5 > li:nth-of-type(5n+1) {
        clear: none;
      }

      .role {
        text-align: left;
        .title {
          display: none;
        }
        h1 {
          margin-right: 20px;
          line-height: 40px;
        }
        .divider {
          margin: 25px 0;
        }
        .role-icon {
          position: relative;
          width: 50px;
          height: 50px;
          margin-bottom: 10px;
          img {
            position: absolute;
            bottom: 0;
          }
        }
        h2 {
          color: white;
          font-family: 'Lato', sans-serif;
          font-size: 20px;
          font-weight: 700;
          line-height: 28px;
        }
        p, .role-choose a {
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 17px;
          font-weight: 400;
          line-height: 25px;
          color: #acb1c0;
        }
        .role-choose {
          margin-top: -20px;
          a {
            color: #ecd08e;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .content-blocks {
    padding: 0;
    .columns {
      margin: 0;
      padding: 0;
    }
    .content-wrapper {
      padding-top: 70px;
      padding-bottom: 25px;
      h1 {
        margin-bottom: 20px;
      }
      .button {
        margin-top: 10px;
        font-size: 17px;
        font-weight: 900;
      }
    }
  }

  .purchase-process {
    background: url(../images/purchase-process-bg.jpg);
    h1 {
      max-width: 650px;
      margin-left: auto;
      margin-right: auto;
    }
    .divider {
      width: 137px;
      margin-top: 25px;
    }
    .content-wrapper {
      padding: 0 215px;
    }
    .steps-container {
      margin-top: 50px;
      background: url(../images/broken-line-vertical.png) repeat-y top center;
      padding: 35px 0 0;

      .step {
        background: #ccc;
        .number {
          position: absolute;
          width: 63px;
          height: 63px;
          padding: 18px 10px 18px 18px;
          margin: 0 auto;
          background: url(../images/number-circle.png) no-repeat;
          color: #2c3b71;
          font-family: 'Prata', sans-serif;
          font-size: 28px;
          font-weight: 400;
          line-height: 28px;
        }
        .text-wrap {
          margin-top: 20px;
          max-width: 367px;
          h2 {
          color: #27335e;
          font-family: 'Lato', sans-serif;
          font-size: 20px;
          font-weight: 700;
          line-height: 25px;
          }
          p {
            color: #666;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 17px;
            font-weight: 400;
            line-height: 25px;
          }
        }
      }
      .row:nth-child(odd) {
        .step {
          background: url(../images/line-node-left-ext.png) no-repeat left 28px;
          .number {
            left: -31px;
          }
          .text-wrap {
            float: right;
            text-align: left;
          }
        }
      }
      .row:nth-child(even) {
        .step {
          background: url(../images/line-node-right-ext.png) no-repeat right 28px;
          .number {
            right: -31px;
          }
          .text-wrap {
            float: left;
            text-align: right;
          }
        }
      }
      .button {
        margin-bottom: 0;
      }
    }
  }

  .find-out-more {
    background: url(../images/find-out-more-bg.jpg) center center;
    background-size: cover;
    padding-top: 155px;
    padding-bottom: 140px;
    color: white;
    h1 {
      color: white;
    }
    p {
      color: #acb1c0;
    }
    .divider {
      width: 137px;
      margin-top: 25px;
      margin-bottom: 40px;
    }
    .container {
      max-width: 540px;
      margin: 0 auto;
    }
    .button {
      margin-top: 20px;
      font-size: 17px;
      font-weight: 900;
    }
  }
}

/* Inner Pages */
#inner-container {
  border-bottom: 1px solid rgba(28, 48, 101, 0.27);
  padding: 0;
  margin: 0;
  margin-top: -1px;

  #inner-layout {
    width: 100%;
    margin: 0;

    #main-content {
      padding: 40px 0;
      vertical-align: top;

      &, p {
        color: #666;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 25px;
      }

      .content-wrapper {
        padding: 40px 90px 0 100px;
      }

      h1 {
        font-size: 48px;
        font-weight: 400;
        line-height: 28px;
        &.page-title {
          display: block;
          background: url(../images/title-deco.jpg) no-repeat left center;
          padding-left: 85px;
          margin-bottom: 50px;
        }
      }
      h2 {
        font-size: 32px;
        font-weight: 400;
        line-height: 42px;
      }
      h3 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 50px;
      }
      ul {
        padding: 0 0 0 50px;
        margin: 30px 0 40px;
        li {
          list-style-type: none;
          display: block;
          background: url(../images/bullet.png) no-repeat left 8px;
          padding-left: 25px;
          margin-bottom: 20px;
          color: #666;
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 16px;
          line-height: 23px;
        }
      }
      // style numbers in wordpress numbered lists, based on:
      // http://www.456bereastreet.com/archive/201105/styling_ordered_list_numbers/
      ol {
        counter-reset:li;
        margin: 25px 0 60px;
        padding-left:0;
        li {
          color: #666;
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 17px;
          font-weight: 400;
          line-height: 25px;
          position:relative; /* Create a positioning context */
          margin:0 0 20px 0; /* Give each list item a left margin to make room for the numbers */
          list-style:none; /* Disable the normal item numbering */
          padding-left: 70px;

          &:before {
            content:counter(li)'.'; /* Use the counter as content, plus dot */
            counter-increment:li; /* Increment the counter by 1 */
            /* Position and style the number */
            position:absolute;
            display: block;
            width: 36px;
            height: 36px;
            background: url(../images/ol-number-circle.png) no-repeat;
            top: -5px;
            left: 0;
            padding: 9px 0 0 5px;
            text-align:center;
            color: #27335e;
            font-family: 'Prata', sans-serif;
            font-size: 17px;
            font-weight: 400;
            line-height: 21px;
          }
        }
      }
    }

    #side-panel {
      width: 472px;
      background: url(../images/side-panel-shadow.png);
      background-repeat: repeat-y;
      background-position: left top;
      background-opacity: 0.65;
      background-color: #eee;
      vertical-align: top;

      .column {
        padding: 0;
      }

      .content-wrapper {
        padding: 50px 110px 35px 60px;
        margin: 0;
        background: url(../images/side-panel-shadow.png), url(../images/side-panel-bg.png);
        background-repeat: repeat-y, repeat-y;
        background-position: left-top, left center;
        background-opacity: 0.65, 0.71;
      }

      .form-box {
        background-color: white;
        border: 1px solid #c1c6d5;
        box-shadow: 1.5px 2.6px 5px rgba(2, 3, 3, 0.07);
        padding: 0;
        margin-bottom: 70px;
        .form-title {
          background-color: #1f3779;
          padding: 25px 25px 19px;
          h1 {
            display: inline-block;
            color: white;
            font-size: 26px;
            font-weight: 400;
            line-height: 26px;
            &::before, &::after {
              display: inline-block;
              width: 20px;
              height: 26px;
              background: url(../images/form-header-deco.png) no-repeat left 17px;
              content: '';
            }
            &::before {
              margin-right: 10px;
            }
            &::after {
              margin-left: 10px;
              background-position: right 17px;
            }
          }
        }
        .form-body {
          padding: 25px 25px 20px;
          p {
            color: #666;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 17px;
            line-height: 25px;
          }
        }
        button.button {
          position: relative;
          font-size: 17px;
          font-weight: 900;
          line-height: 22px;
          width: 100%;
          padding: 15px;
          margin: 10px auto;
          display: block;
        }
        .privacy {
          opacity: 0.71;
          color: #666;
          font-size: 13px;
          font-weight: 700;
          line-height: 13px;
          text-align: center;
          width: auto;
          background: url(../images/lock-icon.png) no-repeat;
          padding-left: 25px;
          margin: 10px auto 0;
        }
      }

      .testimonial {
        padding-bottom: 35px;
        margin-bottom: 35px;
        background: url(../images/quote-box-border.jpg) no-repeat left bottom;
        h1 {
          font-size: 25px;
          font-weight: 400;
          line-height: 30px;
        }
        .testimonial-text {
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 17px;
          line-height: 25px;
          color: #666;
          font-weight: 400;
          margin-top: 15px;
          &::before {
            display: block;
            width: 38px;
            height: 34px;
            content: '';
            float: left;
            background: url(../images/quote-mark-fill.png) no-repeat;
            margin-right: 15px;
            margin-top: 5px;
          }
        }
        .testimonial-source {
          color: #1f3779;
          font-weight: 700;
          margin-top: 4px;
        }
        &.last {
          background: none;
          margin-bottom: 0;
        }
      }

      .find-out-more {
        background: url(../images/find-out-more-bg.jpg) center center;
        background-size: cover;
        padding: 60px 50px;
        color: white;
        .row {
          margin: 0;
        }
        h1 {
          color: white;
          font-size: 35px;
        }
        p {
          color: #acb1c0;
        }
        .divider {
          width: 137px;
          margin-top: 25px;
          margin-bottom: 30px;
        }
        .container {
          max-width: 540px;
          margin: 0 auto;
        }
        .button {
          margin-top: 20px;
          font-size: 17px;
          line-height: 22px;
          font-weight: 900;
          padding: 15px 35px;
        }
      }
    }
  }
}

/* Footer */
footer {
  padding: 30px 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 52px;
  color: #666;
  a {
    color: #183283;
    text-decoration: underline;
  }
}

/* Media Queries */
@import "responsive";
